<!DOCTYPE html>
<html>
  <head>
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Autor: Javier Sanz</h1>
    <p>
    <image src="favicon.ico">
  </body>
</html>
